.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px limegreen;
}
.note
{
    font-size: 15px;
    color: black;
}

.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: green;
    line-height: 3;
    text-align: center;
}

body{
    background-color: greenyellow;
}

canvas
{
    border:5px solid rgb(20, 107, 46);
    border-radius:20px;
    box-shadow:5px 5px 5px gree;
}